header {
    background-color: turquoise;
    color: gray;
    font-size: 200%;
    font-weight: bold;
    text-align: center;
    padding: 1em 0;
    margin-bottom: 1em;
}

footer {
    background-color: turquoise;
    color: gray;
    text-align: center;
    padding: 1em 0;
    margin-top: 2em;
}